{#
/**
 * @file
 * Default theme implementation to present a list of custom content entity types/bundles.
 *
 * Available variables:
 * - types: A collection of all the available custom entity types/bundles.
 *   Each type/bundle contains the following:
 *   - link: A link to add a content entity of this type.
 *   - description: A description of this content entity types/bundle.
 *
 * @see template_preprocess_example_content_add_list()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  {% if types is not empty %}
    <dl>
      {% for type in types %}
        <dt>{{ type.add_link }}</dt>
        {#<dd>{{ type.description }}</dd>#}
      {% endfor %}
    </dl>
  {% else %}
    <p>
      {% set create_content = path('entity.mymodule_type.collection') %}
      {% trans %}
      You have not created any mymodule types yet. Go to the <a href="{{ create_content }}">mymodule type creation page</a> to add a new mymodule type.
      {% endtrans %}
    </p>
  {% endif %}
{% endspaceless %}
